<!doctype html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Image with Label</title>
        <style>
          /* Style for the product image container */
          .product-image-container {
            position: relative;
            display: inline-block;
          }
    
          /* Style for the label */
          .label {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: #ff0000; /* Red background color */
            color: #ffffff; /* White text color */
            padding: 5px 10px; /* Add padding */
            font-size: 14px; /* Font size */
            border-radius: 5px; /* Rounded corners */
          }
    
          /* Style for the product image */
          .product-image {
            display: block;
            width: 100%; /* Ensure the image takes up the full container width */
            height: auto; /* Maintain aspect ratio */
          }
        </style>
      </head>
      <body>
      </body>
    </html>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        my_badge();
      });
    
    function my_badge() {
        var s = document.querySelectorAll(
          'img[src*="/products/"]:not([class*="not-abel"]), img[data-src*="/products/"]:not([class*="not-label"]), img[src*="/no-image"], img[data-src*="/no-image"], img[src*="/products/"], img[srcset*="/products/"][srcset*="/cdn.shopify.com/s/files/"], img[src*="/cdn.shopify.com/s/files/"], source[data-srcset*="/products/"], img[src*="/product_img/"], img[srcset*="/cdn/shop/products/"], [style*="/products/"], img[src*="%2Fproducts%2F"]'
        );
    
        for (var o = 0; o < s.length; o++) {
          var a = document.createElement('div');
          a.className = 'product-image-container';
          var labelImage = document.createElement('div');
          labelImage.className = 'badge_itm';
          labelImage.style.backgroundColor = 'transparent';
          labelImage.style.backgroundSize = 'contain';
          labelImage.style.padding = '17%';
          labelImage.style.backgroundImage =
            "url('https://cdn.shopify.com/s/files/1/0858/1470/6469/files/pngtree-badge-png-image_996483.jpg?v=1708857907')";
          labelImage.style.display = 'block';
          labelImage.style.position = 'absolute';
          labelImage.style.zIndex = '100px';
          labelImage.style.borderRadius = '0px';
          a.appendChild(labelImage);
          var parentNode = s[o].parentNode;
          parentNode.appendChild(a);
        }
      }
    
    </script>
    
    {% schema %}
    {
      "name": "Floating Image22",
      "target": "body",
      "settings": []
    }
    {% endschema %}
        